{% extends "base.html" %}

{% block content %}
<h1>All Books</h1>

<p><a href="{% url 'add_book' %}">Add New Book</a></p>

<div class="flex flex-wrap">
    {% for book in books %}
    <div class="w-33 pa3">
        <h4>{{ book.title }}</h4>

        <div class="flex">
            <div class="pr2"><i class="icofont-pen-alt-1"></i></div>
            <div>
            <p>{{ book.author }}</p>
            </div>
        </div>

        <p>
            <a href="{% url 'view_book' pk=book.pk %}">View Book</a>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}