{% extends "base.html" %}

{% block content %}
<h1>All Books</h1>

<p><a href="{% url 'add_book' %}">Add New Book</a></p>

<div class="flex flex-column-reverse">
    {% for book in books %}
    <div class="w-33 pa3">
        <h2>{{ book.title }}</h2>

        <div class="flex">
            <div class="pr2"><i class="icofont-pen-alt-1"></i></div>
            <div>
                {{ book.author }}
            </div>
        </div>

        {% if book.year %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ book.year }}</div>
        </div>
        {% endif %}




        <p>
            <a href="{% url 'view_book' pk=book.pk %}">View Book</a>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}